p I work for 
	a(href="http://o2dca.com" target="_blank" rel="noreferrer noopener") O2 Digital Creative Agency,
	|  in the lovely Pittsburgh, Pennsylvania. <br class="hidden-xs"><br class="hidden-xs"> You can find me across the Internet on 
	a(href="https://twitter.com/pschfr" target="_blank" rel="noreferrer noopener") Twitter,
	| 
	a(href="https://instagram.com/pschfr" target="_blank" rel="noreferrer noopener") Instagram,
	|  and 
	a(href="https://github.com/pschfr" target="_blank" rel="noreferrer noopener") GitHub.
	|  <br class="hidden-xs"><br class="hidden-xs">Want to get in touch for a project, or to say hi? Email me at 
	a(href="mailto:paul@o2dca.com") paul@o2dca.com.
hr
.row
	.col-sm-4.col-xs-12
		p.text-uppercase.text-muted Client Work
		ul.list-unstyled
			each url, name in clientWork
				li
					a(href="#{url}" target="_blank" rel="noreferrer noopener") #{name}
	.col-sm-4.col-xs-12
		p.text-uppercase.text-muted Open Source
		ul.list-unstyled
			each url, name in githubProjects
				li
					a(href="#{url}" target="_blank" rel="noreferrer noopener") #{name}
	.col-sm-4.col-xs-12
		p.text-uppercase.text-muted Chrome Extensions
		ul.list-unstyled
			each url, name in chromeExtensions
				li
					a(href="#{url}" target="_blank" rel="noreferrer noopener") #{name}
hr
p.text-uppercase.text-muted Articles
ul.list-unstyled
	each article, slug in public.articles._data
		li
			a(href="/articles/#{slug}") #{article.title} <br class="visible-xs-block">
			em.small.text-muted  #{article.date}
