p Hello there! Nice to run into you here. I live in the lovely Pittsburgh, 
	abbr(title="Pennsylvania, United States of America") PA
	| . <br class="hidden-xs"><br class="hidden-xs"> You can find me across the Internet on 
	a(href="https://twitter.com/pschfr" target="_blank" rel="noreferrer noopener") Twitter,
	| 
	a(href="https://instagram.com/pschfr" target="_blank" rel="noreferrer noopener") Instagram,
	|  and 
	a(href="https://github.com/pschfr" target="_blank" rel="noreferrer noopener") GitHub.
	|  <br class="hidden-xs"><br class="hidden-xs">Want to inquire about a project, or want to say hi? Feel free to 
	a(href="/contact/") get in touch!
	|  <br class="hidden-xs"><br class="hidden-xs">I&rsquo;ve most recently listened to: 
	span#currentlylistening &hellip;
hr
.row
	.col-md-6.col-sm-12
		p.text-uppercase.text-muted My Client Work
		ul.list-unstyled
			each url, name in clientWork
				li
					a(href="#{url}" target="_blank" rel="noreferrer noopener") #{name}
	.col-md-3.col-sm-6.col-xs-12
		p.text-uppercase.text-muted Open Source
		ul.list-unstyled
			each url, name in githubProjects
				li
					a(href="#{url}" target="_blank" rel="noreferrer noopener") #{name}
	.col-md-3.col-sm-6.col-xs-12
		p.text-uppercase.text-muted Chrome Extensions
		ul.list-unstyled
			each url, name in chromeExtensions
				li
					a(href="#{url}" target="_blank" rel="noreferrer noopener") #{name}
hr
p.text-uppercase.text-muted
	a(href="/archive.html") Articles
ul.list-unstyled
	each article, slug in public.articles._data
		li
			a(href="/articles/#{slug}.html") #{article.title}<br class="visible-xs-block">
			em.small.text-muted  #{article.date}
